.articleStyle{
    font-family: Verdana, Geneva, sans-serif;
}

.articleSourceStyle{
    font-family: Verdana, Geneva, sans-serif;
    font-size:80%;
    float:left;
    color:#90A4AE;
    padding-left:2%;
    padding-right:2%;
}

.articleDateStyle{
    color:#90A4AE;
    font-size:80%;
    padding-right:2%;
    font-family: Verdana, Geneva, sans-serif;
}

.articleTitleStyle{
    color:black;
    padding-top:5%;
    padding-right:4%;
    padding-left:2%;
    font-weight:bold;
    font-size:100%;
    font-size:100%;
    font-family: Verdana, Geneva, sans-serif;
}

.articleContentStyle {
    font-family: Verdana, Geneva, sans-serif;
    padding-left:2%; 
    padding-right:2%;
    color: black;
    padding-bottom:5%;
}