
/*TOGGLE SWITCH CSS*/

/* 
 * The switch - the box around the slider 
 */
.switch {
    width: 40%;
    height: 32%;
}

    /* 
	 *Hide default HTML checkbox 
	 */
    .switch input {
        display: none;
    }
	
.switchPosition{
	text-align:right; 
	padding-top:12%;  
	padding-right:10%;
}

/* The slider */

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    height: 400%;
    width: 100%;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 79%;
        width: 40%;
        left: 6%;
        bottom: 12%;
        background-color: white;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #607D8B;
}

input:focus + .slider {
    box-shadow: 0 0 1px #607D8B;
}

input:checked + .slider:before {
    transform: translateX(120%);
}

/* Rounded sliders */

.slider.round {
    border-radius: 999px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/*END OF TOGGLE SWITCH CSS*/

.fontSizeButtonPosition{
	text-align:right; 
	padding-right:10%; 
	padding-top:10%;
}

.button--material{
	background-color:#455a64;
}