
/*
 * The icon at the newsfeed page (when there is no source)
 */
.listIcon {
    font-size: 100px;
    text-align: center;
    margin-top: 25%;
    margin-bottom: 2%;
    color: #90A4AE;
}

/*
 * The icon inside the menu for the news feed
 */
.menuNewsFeed {
    background-color: #90A4AE;
    color: white;
    margin-right: 3%;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 11px;
    padding-left: 11px;
    font-size: 18px;
}

/*
 * The icon inside the menu for the settings option
 */
.menuSettings {
    background-color: #90A4AE;
    color: white;
    margin-right: 3%;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 11px;
    padding-left: 11px;
    font-size: 18px;
}

/*
 * The icon inside the menu to add a source
 */
.menuAddSource {
    background-color: #90A4AE;
    color: white;
    margin-right: 3%;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 11px;
    padding-left: 11px;
    font-size: 18px;
}