
/*
 * The icon at the newsfeed page (when there is no source)
 */
.listIcon {
    font-size: 100px;
    text-align: center;
    margin-top: 25%;
    margin-bottom: 2%;
    color: #90A4AE;
}

/*
 * The icon inside the menu for the news feed
 */
.menuNewsFeed {
    background-color: #90A4AE;
    color: white;
    margin-right: 3%;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 11px;
    padding-left: 11px;
    font-size: 115%;
}

/*
 * The icon inside the menu for the settings option
 */
.menuSettings {
    background-color: #90A4AE;
    color: white;
    margin-right: 3%;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 11px;
    padding-left: 11px;
    font-size: 115%;
}

/*
 * The icon inside the menu to add a source
 */
.menuAddSource {
    background-color: #90A4AE;
    color: white;
    margin-right: 3%;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 11px;
    padding-left: 11px;
    font-size: 115%;
}

.eyeRederImage{
    text-shadow:2px 2px 5px red;
}

.getStarted{
    background-color:#455A64;
    padding: 2% 2% 2% 2%;
    margin-top:20%;
    border-radius:10%;
}

.fontSizeButton{
    padding:3% 3% 3% 3%;
    border-radius:10%;
    border-color:#ccc;
}

.fontSizeButtonPosition{
	text-align:right; 
	padding-right:10%; 
	padding-top:10%;
}