html, body {
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:fixed;
	width: 100%;
	height: 100%;
	font-size:20px;
    font-family: Verdana, Geneva, sans-serif;
	background-color:white;
}

.night-mode body {
    background: #272727;
}

/*
 *The style for all the bolds
 */
.boldStyle {
    font-family: Verdana, Geneva, sans-serif;
    color: #90A4AE;
    font-weight: bold;
    font-size: 120%;
}

/*
 * The standar for all the headers 
 */
.toolbarHeader {
    background-color: #455A64;
    font-size: 100%;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
}

/*
 * The paragraph in the newsfeed page when there is no source
 */
.transperentParagraph {
    text-align: center;
    padding-top: 2%;
    color: #90A4AE;
    font-size: 115%;
    font-family: Verdana, Geneva, sans-serif;
}

/*
 * The style for the menu (letters)
 */
.menuStyle {
    color: black;
    font-family: Verdana, Geneva, sans-serif;
}

/*
 * The style of the paragraphs/items at the pages (letters and placement)
 */
.mainStyle_normal_mode {
    color: black;
    padding-top:8%;  
    padding-bottom: 8%;
    padding-left: 10%;
    font-family: Verdana, Geneva, sans-serif;
}

.mainStyle_night_mode {
    color: white;
    padding-top:8%;  
    padding-bottom: 8%;
    padding-left: 10%;
    font-family: Verdana, Geneva, sans-serif;
}
	
.switchPosition{
    text-align:right;
    padding-top: 8%;  
    padding-bottom:8%;
    padding-right: 10%;
}

/*
 * The list inside the menu and the settings
 */
.detailedList {
    color: #90A4AE;
    margin: 8px 0px 8px 60px;
    font-family: Verdana, Geneva, sans-serif;
}

fontChangeTag{
	font-size:100%; /*20px*/
}
