<ion-view title="Edit Profile" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="editProfile-form4" class="list">
      <label class="item item-input" id="editProfile-input3">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="editProfile-input5">
        <span class="input-label">Username</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="editProfile-input7">
        <span class="input-label">Email</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="editProfile-select1">
        <span class="input-label">Sex</span>
        <select>
          <option>Female</option>
          <option>Male</option>
          <option>Other</option>
        </select>
      </label>
      <label class="item item-input" id="editProfile-input6">
        <span class="input-label">Birthday</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>