<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">eyeReader</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="eyeReader-list3">
        <ion-item class="item-icon-left" id="eyeReader-list-item6" ui-sref="eyeReader.newsFeed()" menu-close="">
          <i class="icon ion-earth"></i>News feed</ion-item>
        <ion-item class="item-icon-left" id="eyeReader-list-item7" ui-sref="eyeReader.settings()" menu-close="">
          <i class="icon ion-android-settings"></i>Settings</ion-item>
        <ion-item class="item-icon-left" id="eyeReader-list-item8" ui-sref="eyeReader.addSources()" menu-close="">
          <i class="icon ion-android-add-circle"></i>Add Sources</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>