<ion-view title="News Feed" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="newsFeed-list7">
      <ion-item class="item-thumbnail-left item-icon-right" id="newsFeed-list-item17">
        <h2>Article's Title</h2>
        <p>This is a test display text of an article</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
        <ion-option-button class="button-stable">Remove</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>