<ion-view title="Profile" id="page5">
  <ion-content padding="true" class="has-header">
    <h4 id="profile-heading3" style="color:#000000;text-align:center;">Name Surname</h4>
    <a ui-sref="eyeReader.editProfile()" id="profile-button1" style="font-weight:300;font-size:12px;border-radius:-1px -1px -1px -1px;" class="button button-light button-small button-block">Edit Profile</a>
    <ion-list id="profile-list8">
      <ion-item class="item-icon-left" id="profile-list-item14">
        <i class="icon ion-android-contact"></i>Username</ion-item>
      <ion-item class="item-icon-left" id="profile-list-item11">
        <i class="icon ion-android-person"></i>Female</ion-item>
      <ion-item class="item-icon-left" id="profile-list-item12">
        <i class="icon ion-android-bar"></i>January, 24 1997</ion-item>
      <ion-item class="item-icon-left" id="profile-list-item13">
        <i class="icon ion-android-mail"></i>userName@gmail.com</ion-item>
    </ion-list>
  </ion-content>
</ion-view>