<ion-view title="Settings" id="page2">
  <ion-content padding="true" class="has-header">
    <h3 id="settings-heading1" style="color:#90A4AE;">Display</h3>
    <ion-list id="settings-list2">
      <ion-toggle toggle-class="toggle-light" id="settings-toggle1" name="Night Mode Toggle">Night Mode</ion-toggle>
      <ion-toggle toggle-class="toggle-light" id="settings-toggle2" name="Cashe News Toggle">Cache News</ion-toggle>
      <ion-item class="range range-positive" id="settings-range3">Font Size
        <input type="range" value="16" min="14" max="24" step="2" name="Font Size Range">
      </ion-item>
    </ion-list>
    <h3 id="settings-heading2" style="color:#90A4AE;">Filtering</h3>
    <form id="settings-form1" class="list">
      <ion-toggle toggle-class="toggle-light" id="settings-toggle3" name="Markup Toxic Toggle">Markup Toxic</ion-toggle>
      <ion-toggle toggle-class="toggle-light" id="settings-toggle4" name="Hide Toxic Toggle">Hide Toxic</ion-toggle>
      <ion-item class="range range-light" id="settings-range2">Tolerance Level
        <input type="range" value="50" min="0" max="100" step="1" name="Tolerance Level Range">
      </ion-item>
    </form>
  </ion-content>
</ion-view>