* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header {
    background-color: #455A64;
    color: white;
    font-size: 20px;
}

.sidemenuHeader {
    background-color: #455A64;
}

.boldLetters {
    color: #90A4AE;
    font-weight: bold!important;
    font-size: 24px!important;
}

.normalBlackLetters {
    font-size: 20px;
}

.placeholderLetters {
    font-size: 16px !important;
    color: #90a4ae!important;
}

.sideLetters {
    font-size: 14px !important;
    color: #90A4AE !important;
}


/*
* Nightmode / Normalmode
*/

.nightmodeFontColor {
    color: white;
    font-size: 20px !important;
}


/*background for all the pages except settings*/

.nightmodeBackground {
    background-color: rgb(68, 68, 68)!important;
}

.normalBackground {
    background-color: white!important;
}


/*settings page where the nightmode transition is happening*/

.nightmodeBackgroundMain {
    background-color: rgb(68, 68, 68)!important;
}

.normalBackgroundMain {
    background-color: white!important;
}


/*sidemenu icons color*/

.normalSidemenuIcon {
    color: #444;
}

.nightmodeSidemenuIcon {
    color: white;
}

.nightmodeHeaderClass {
    color: white !important;
}

.normalHeaderClass {
    color: black !important;
}


/*list background color*/

.nightmodeBackground .item .item-content,
.nightmodeBackground .item-select select,
{
    background-color: #444;
}

.normalBackground .item .item-content .item-input {
    background-color: white;
}


/*CSS for Mainition animation from nightmode to normalmode and back*/

.normalBackgroundMain-add,
.normalBackgroundMain-remove,
.nightmodeBackgroundMain-add,
.nightmodeBackgroundMain-remove {
    transition: background-color 150ms linear;
}

/*
* Popup class
*/

.popup-container .popup {
    width: 90%;
}

.favouriteButton {
    color: #42CB24;
}

.generalPadding{
	padding: 3% 3% 3% 3%!important;
}

.sideMenuPadding{
	padding: 0% 3% 0% 3%!important;
}

.item {
	border-left:0px;
	border-right:0px;
}

.checkbox input:checked:before,
.checkbox input:checked+.checkbox-icon:before {
    background: #455A64;
    border-color: #455A64;
}