* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size : 16px;
}
/* BASE FONT SIZE IS 16px*/

.header {
    background-color: #455A64;
    color: white;
    font-size: 125%;
}

.sidemenuHeader {
    background-color: #455A64;
}

.boldLetters {
    color: #90A4AE;
    font-weight: bold!important;
    font-size: 162.5%;
}

.normalBlackLetters {
    font-size: 125%;
}

.placeholderLetters {
    font-size: 100% ;
    color: #90a4ae!important;
}

.sideLetters {
    font-size: 87.5%;
    color: #90A4AE !important;
}


/*
* Nightmode / Normalmode
*/

.nightmodeFontColor {
    color: white;
    font-size: 125% ;
}


/*background for all the pages except settings*/

.nightmodeBackground {
    background-color: rgb(68, 68, 68)!important;
}

.normalBackground {
    background-color: white!important;
}


/*settings page where the nightmode transition is happening*/

.nightmodeBackgroundMain {
    background-color: rgb(68, 68, 68)!important;
}

.normalBackgroundMain {
    background-color: white!important;
}


/*sidemenu icons color*/

.normalSidemenuIcon {
    color: #444;
}

.nightmodeSidemenuIcon {
    color: white;
}

.nightmodeHeaderClass {
    color: white !important;
}

.normalHeaderClass {
    color: black !important;
}


/*list background color*/

.nightmodeBackground .item .item-content,
.nightmodeBackground .item-select select {
    background-color: rgb(68, 68, 68)!important;
}

.normalBackground .item .item-content .item-input {
    background-color: white;
}

.nightmodeBackground .toggle input:checked+.track {
    background-color: rgb(68, 68, 68);
}


/*CSS for Mainition animation from nightmode to normalmode and back*/

.normalBackgroundMain-add,
.normalBackgroundMain-remove,
.nightmodeBackgroundMain-add,
.nightmodeBackgroundMain-remove {
    transition: background-color 150ms linear;
}


/*
* Popup class
*/

.popup-container .popup {
    width: 90%;
}

.favouriteButton {
    color: #42CB24;
}

.generalPadding {
    padding: 3% 3% 3% 3%!important;
}

.sideMenuPadding {
    padding: 0% 3% 0% 3%!important;
}

.item {
    border-left: 0px;
    border-right: 0px;
}

.checkbox input:checked:before,
.checkbox input:checked+.checkbox-icon:before {
    background: #455A64;
    border-color: #455A64;
}

/*Popup background*/
.popup-container > .popup{
    background: white;
}