.header {
    background-color: #455A64;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.sidemenuHeader {
    background-color: #455A64;
}

.boldLetters {
    color: #90A4AE;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 24px;
}

.normalBlackLetters {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 20px !important;
}

.placeholderLetters {
    font-size: 17px !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.sideLetters {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 17px !important;
    color: #90A4AE !important;
}

.nightmodeBackground {
    background-color: rgb(68, 68, 68);
}

.nightmodeFontColor {
    color: white;
    font-size: 20px;
}

.normalBackground {
    background-color: white;
}

.normalSidemenuIcon {
    color: #444;
}

.nightmodeSidemenuIcon {
    color: white;
}

.nightmodeHeaderClass {
    color: white !important;
}

.normalHeaderClass {
    color: black !important;
}


/*
* Popup class
*/

.popup-container .popup {
    width: 90%;
}