<ion-view hide-back-button="false" title="Article" id="page9">
    <ion-content padding="false" class="has-header" ng-controller="articleCtrl" ng-class="getBackgroundClass()">
        <h2 ng-class="getNightmodeHeaderClass()" id="article-heading4">
            <span class="boldLetters">This is a Title</span></h2>
        <div id="article-markdown3" class="show-list-numbers-and-dots">
            <p ng-class="getNightmodeHeaderClass()" style="font-size:15px!important;" class="sideLetters">Writer | dd.MM.yyyy</p>
        </div>
        <div style="margin-bottom:13px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="article-markdown2" class="show-list-numbers-and-dots normalBlackLetters">
            <span ng-class="getFontClass()">This is the article's content. Old unsatiable our now but considered travelling impression. In excuse hardly summer in basket misery. By rent an part need. At wrong of of water those linen. Needed oppose seemed how all. Very mrs shed shew
                gave you. Oh shutters do removing reserved wandered an. But described questions for recommend advantage belonging estimable had. Pianoforte reasonable as so am inhabiting. Chatty design remark and his abroad figure but its. </span>

            <span ng-class="getFontClass()">Demesne far hearted suppose venture excited see had has. Dependent on so extremely delivered by. Yet ﻿no jokes worse her why. Bed one supposing breakfast day fulfilled off depending questions. Whatever boy her exertion his extended. Ecstatic
                followed handsome drawings entirely mrs one yet outweigh. Of acceptance insipidity remarkably is invitation. </span>
        </div>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <ion-list id="article-list15">
            <div class="card">
                <div class="item item-text-wrap" ng-class="getBackgroundClass()">
                    <h2 ng-class="getNightmodeHeaderClass()">Name 1</h2>
                    <p ng-class="getNightmodeHeaderClass()">Comment 1</p>
                </div>
                <div class="item item-text-wrap" ng-class="getBackgroundClass()">
                    <h2 ng-class="getNightmodeHeaderClass()">Name 1</h2>
                    <p ng-class="getNightmodeHeaderClass()">Comment 1</p>
                </div>
                <div class="item item-text-wrap" ng-class="getBackgroundClass()">
                    <h2 ng-class="getNightmodeHeaderClass()">Name 1</h2>
                    <p ng-class="getNightmodeHeaderClass()">Comment 1</p>
                </div>

            </div>
            <!-- 
            <ion-item ng-class="getBackgroundClass()" class="item-avatar" id="article-list-item28">
                <h2 ng-class="getNightmodeHeaderClass()">Name 1</h2>
                <p ng-class="getNightmodeHeaderClass()">Comment 1</p>
            </ion-item>
            <ion-item ng-class="getBackgroundClass()" class="item-avatar" id="article-list-item29">
                <h2 ng-class="getNightmodeHeaderClass()">Name 2</h2>
                <p ng-class="getNightmodeHeaderClass()">Comment 2</p>
            </ion-item>
            <ion-item ng-class="getBackgroundClass()" class="item-avatar" id="article-list-item30">
                <h2 ng-class="getNightmodeHeaderClass()">Name 3</h2>
                <p ng-class="getNightmodeHeaderClass()">Comment 3</p>
            </ion-item> -->
        </ion-list>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
    </ion-content>
</ion-view>