<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="header">
            <ion-nav-back-button style="color:white"></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button style="color:white" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu ng-controller="eyeReaderCtrl" side="left" id="side-menu21">
        <ion-header-bar class="sidemenuHeader">
            <div class="title title-left header header-item">
                eyereader
            </div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header sideMenuPadding" ng-class="getBackgroundClass()">
            <div class="list">
                <a ng-class="getBackgroundClass()" class="item item-icon-left item-avatar" id="eyeReader-list-item10" ui-sref="eyeReader.profile()" menu-close="">
                    <img src="./images/eyeReader_Logo.png">
                    <h2 ng-class="getNightmodeHeaderClass()">{{currUser}}</h2>
                    <p class="sideLetters">View your profile</p>
                </a>
                <a ng-class="getBackgroundClass()" class="item item-icon-left" id="eyeReader-list-item6" ui-sref="eyeReader.newsFeed()" menu-close="">
                    <i ng-class="getSidemenuIconClass()" class="icon ion-earth"></i>
                    <span ng-class="getFontClass()" ng-style="selectedFontsize">
                        News feed
                    </span>
                </a>
                <a ng-class="getBackgroundClass()" class="item item-icon-left" id="eyeReader-list-item8" ui-sref="eyeReader.addSources()" menu-close="">
                    <i ng-class="getSidemenuIconClass()" class="icon ion-android-add-circle"></i>
                    <span ng-class="getFontClass()" ng-style="selectedFontsize">
                        Add Sources
                    </span>
                </a>
                <a ng-class="getBackgroundClass()" class="item item-icon-left" id="eyeReader-list-item9" ui-sref="eyeReader.savedArticles()" menu-close="">
                    <i ng-class="getSidemenuIconClass()" class="icon ion-android-archive"></i>
                    <span ng-class="getFontClass()" ng-style="selectedFontsize">
                        Saved
                    </span>
                </a>
                <a ng-class="getBackgroundClass()" class="item item-icon-left" id="eyeReader-list-item16" ui-sref="eyeReader.statistics()" menu-close="">
                    <i ng-class="getSidemenuIconClass()" class="icon ion-arrow-graph-up-right"></i>
                    <span ng-class="getFontClass()" ng-style="selectedFontsize">
                        Statistics
                    </span>
                </a>
                <a ng-class="getBackgroundClass()" class="item item-icon-left" id="eyeReader-list-item7" ui-sref="eyeReader.settings()" menu-close="">
                    <i ng-class="getSidemenuIconClass()" class="icon ion-android-settings"></i>
                    <span ng-class="getFontClass()" ng-style="selectedFontsize">
                        Settings
                    </span>
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>