<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="header">
            <ion-nav-back-button style="color:white"></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button style="color:white" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu ng-controller="eyeReaderCtrl" side="left" id="side-menu21">
        <ion-header-bar class="sidemenuHeader">
            <div class="header">eyeReader</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header" ng-class="{nightmodeBackground: isNightmode, lightmodeBackground: !isNightmode}">
            <ion-list id="eyeReader-list3">
                <ion-item ng-class="getBackgroundClass()" class="item-avatar" id="eyeReader-list-item10" ui-sref="eyeReader.profile()" menu-close="">
                    <h2>Name Surname</h2>
                    <p>View your profile</p>
                </ion-item>
                <ion-item class="item-icon-left" id="eyeReader-list-item6" ui-sref="eyeReader.newsFeed()" menu-close="">
                    <i class="icon ion-earth"></i>News feed</ion-item>
                <ion-item class="item-icon-left" id="eyeReader-list-item8" ui-sref="eyeReader.addSources()" menu-close="">
                    <i class="icon ion-android-add-circle"></i>Add Sources</ion-item>
                <ion-item class="item-icon-left" id="eyeReader-list-item9" ui-sref="eyeReader.savedArticles()" menu-close="">
                    <i class="icon ion-android-archive"></i>Saved</ion-item>
                <ion-item class="item-icon-left" id="eyeReader-list-item16" ui-sref="eyeReader.statistics()" menu-close="">
                    <i class="icon ion-arrow-graph-up-right"></i>Statistics</ion-item>
                <ion-item class="item-icon-left" id="eyeReader-list-item7" ui-sref="eyeReader.settings()" menu-close="">
                    <i class="icon ion-android-settings"></i>Settings</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>