<ion-view title="Saved Articles" id="page10">
    <ion-content padding="true" class="has-header" ng-controller="savedArticlesCtrl" ng-class="getBackgroundClass()">
        <ion-list id="savedArticles-list16">
            <label class="item item-input" id="savedArticles-search2" name="searchArticles">
        <i class="icon ion-search placeholder-icon"></i>
        <input class="placeholderLetters" type="search" placeholder="Search articles">
      </label>
            <ion-item class="item-thumbnail-left item-icon-right" id="savedArticles-list-item31" ui-sref="eyeReader.article()">
                <h2 class="normalBlackLetters">Saved article 1</h2>
                <p class="sideLetters">Saved article 1 description</p>
                <i class=" icon ion-ios-arrow-right icon-accessory"></i>
                <ion-option-button class="button-assertive">Report</ion-option-button>
                <ion-option-button class="button-energized">Remove</ion-option-button>
                <ion-option-button class="button-balanced">Favorite</ion-option-button>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right" id="savedArticles-list-item34" ui-sref="eyeReader.article()">
                <h2 class="normalBlackLetters">Saved article 2</h2>
                <p class="sideLetters">Saved article 2 description</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
                <ion-option-button class="button-assertive">Report</ion-option-button>
                <ion-option-button class="button-energized">Remove</ion-option-button>
                <ion-option-button class="button-balanced">Favorite</ion-option-button>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right" id="savedArticles-list-item35" ui-sref="eyeReader.article()">
                <h2 class="normalBlackLetters">Saved article 3</h2>
                <p class="sideLetters">Saved article 3 description</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
                <ion-option-button class="button-assertive">Report</ion-option-button>
                <ion-option-button class="button-energized">Remove</ion-option-button>
                <ion-option-button class="button-balanced">Favorite</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>