<ion-view title="Settings" id="page2">
    <ion-content padding="true" class="has-header" ng-controller="settingsCtrl" ng-class="getBackgroundClass()">
        <h3 id="settings-heading1" class="boldLetters">Display
            <button style="display:inline-block" class="button button-outline button-stable button-small icon ion-help" ng-click="showDisplayInformation()"></button>
        </h3>
        <ion-list id="settings-list1">
            <ion-toggle ng-class="getBackgroundClass()" toggle-class="toggle-light" id="settings-toggle1" name="Night Mode Toggle" ng-model="isNightmode" ng-change="setNightmode()">
                <span ng-class="getFontClass()">Night Mode</span>
            </ion-toggle>
            <ion-toggle ng-class="getBackgroundClass()" toggle-class="toggle-light" id="settings-toggle2" name="Cashe News Toggle">
                <span ng-class="getFontClass()">Cache News</span>
            </ion-toggle>
            <ion-item ng-class="getBackgroundClass()" class="range" id="settings-range3">
                <span ng-class="getFontClass()">Font Size</span>
                <input type="range" value="16" min="14" max="24" step="2" name="Font Size Range">
            </ion-item>
        </ion-list>
        <h3 id="settings-heading2" class="boldLetters">Filtering
            <button style="display:inline-block" class="button button-outline button-stable button-small icon ion-help" ng-click="showFilteringInformation()"></button>
        </h3>
        <ion-list id="settings-list2">
            <ion-toggle ng-class="getBackgroundClass()" toggle-class="toggle-light" id="settings-toggle3" name="Markup Toxic Toggle">
                <span ng-class="getFontClass()">Markup Toxic</span>
            </ion-toggle>
            <ion-toggle ng-class="getBackgroundClass()" toggle-class="toggle-light" id="settings-toggle4" name="Hide Toxic Toggle">
                <span ng-class="getFontClass()">Hide Toxic</span>
            </ion-toggle>
            <ion-item ng-class="getBackgroundClass()" class="range range-light" id="settings-range2">
                <span ng-class="getFontClass()">Tolerance</span>
                <input type="range" value="50" min="0" max="100" step="1" name="Tolerance Level Range">
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>