<ion-view title="Signup" id="page7">
    <ion-content padding="true" class="has-header" ng-controller="signupCtrl">
        <form id="signup-form5" class="list">
            <ion-list id="signup-list10">
                <label class="item item-input" id="signup-input9" name="suFullName">
          <span class="input-label">Full Name</span>
          <input type="text" placeholder="John Doe">
        </label>
                <label class="item item-input" id="signup-input10" name="suEmail">
          <span class="input-label">Email</span>
          <input type="email" placeholder="email@email.com">
        </label>
                <label class="item item-input" id="signup-input11" name="suPassword">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
            </ion-list>
            <button id="signup-button2" class="button button-stable button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view>